@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:300,400,400i,700');


html {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #00b9eb;
}
h1, h2, h3, h4 {
    font-family: "Montserrat",sans-serif;
}
h1 {
  display: none;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 10px 0;
  line-height: 30px;
  text-transform: none;
  color: #19282D;
  width: 100%;
}
h2:after {
    content: " ";
    display: block;
    background: #00B9EB;
    height: 2px;
    width: 100px;
    margin-top: 5px;
    position: absolute;
}
h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 10 0 40px 0;
    line-height: 20px;
    margin-bottom: -20px;
    text-transform: uppercase;
    color: #1c2f35;
    width: 100%;
}
h4 {
    font-size: 20px;
    line-height: 5px;
    color: #1c2f35;
}
h5 {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 40px 0;
    line-height: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #19282D;
    width: 100%;
}
ul {
  list-style: none;
}
header {
  background-color: #1a282d;
  width: 100%;
  height: 65px;
}
nav {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  max-width: 1024px;
  margin: 50px auto auto;
  display: flex;
  flex-wrap: wrap;
}
p {
  margin: 0.5em 0;
}
.hint {
  background-color: #DBFAF4;
  padding: 12px;
  width: 100%;
  line-height: 24px;
}
.hint .title {
  font-weight: bold;
  background-color: #1ABC9C;
  padding: 6px 12px;
  margin: -12px;
  margin-bottom: 12px;
  color: #FFF;
}
.logo {
  width: 210px;
  height: auto;
  object-fit: contain;
}
.navigation {
  color: #fff;
  margin-left: auto;
}
.navigation a {
  color: #808080;
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation a:hover {
  color: #00B9EB;
  text-decoration: none;
}
.updates {
  width: 100%;
  padding: 0;
}
.updates li {
  padding: 10px 0 30px 0;
  position: relative;
}
.updates li ul {
  list-style-type: disc;
  margin: 10px 0 0 0;
}
.updates li ul li {
  padding: 1px 0;
}
.version {
  font-weight: bold;
  margin: 0 10px 0 0;
}
.small {
  font-size: 14px;
}
.box {
  margin: 0 20px 0 0;
  position: relative;
  width: calc(33% - 20px);
}
.bigbox {
  margin: 0 10px 0 0;
  position: relative;
  width: calc(50% - 10px);
  word-wrap: break-word;
}
.email {
  padding: 5px;
  margin-right: 10px;
  opacity: 0.8;
  transition: all 0.3s;
  font-size: 16px;
  border-radius: 0px;
  min-width: 250px;
}
.email:hover, .email:active{
  opacity: 1;
}
.button {
  margin: 10px 0;
  padding: 5px 20px;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  border: 2px solid #00B9EB;
  color: #FFF;
  background-color: #00B9EB;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.button:hover {
  background-color: #FFF;
  color: #00B9EB;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.download {
  margin-left: 85px;
}
footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #1a282d;
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 15px;
  color: rgba(255,255,255,0.6);
  font-weight: 500;
}
footer a {
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  text-decoration: none;
}
footer a:hover {
  color: #00B9EB;
  text-decoration: none;
}
@media (max-width: 1024px) {
  nav {
    padding: 0 20px;
  }
  section {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    padding: 0 10px;
  }
  section {
    padding: 0 10px;
  }
  .box {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .bigbox {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .download {
    margin-left: 10px;
  }
  .checksum {
    display: none;
  }
}
